<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/user_base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title >Update profile page</title>
</head>
<body>
	<section class="d-flex align-items-center justify-content-center" >		
		<div class="container">
		
			<!-- Message box -->
			<div th:if="${session.message}" class="alert" th:classappend="${session.message.type}" role="alert">
				<p th:text="${session.message.content}"></p>
			</div>
			
			<!-- Removing the message after showing. -->
			<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
			
			<div class="row">
				<div class="col-md-12">
					<div class="card mt-2" style="padding-left:20px;padding-right:20px;">
						<div class="card-body">
							<div class="text-center">
								<h1>Update Profile</h1>
							</div>
							<form novalidate="novalidate" th:action="@{/user/process-update-profile}" enctype="multipart/form-data" method="post" th:object="${user}">	
								  <div class="form-group">
								    <label for="name_field">Your name</label>
								    <input name="name" th:value="${user.name}" th:classappend="${#fields.hasErrors('name')? 'is-invalid':''}" type="text" class="form-control" id="name_field" placeholder="Enter your name here" required>
								  
								  	<div class="invalid-feedback" th:each="e: ${#fields.errors('name')}" th:text="${e}">
								  </div>
								  </div>					  
								  
								  <div class="form-group">
								  	<textarea name="about" th:utext="${user.about}" th:classappend="${#fields.hasErrors('about')? 'is-invalid':''}"  placeholder="Enter about yourself" class="form-control" rows="3"></textarea>
								  
								  	<div class="invalid-feedback" th:each="e: ${#fields.errors('about')}" th:text="${e}">
								  </div>
								  </div>
								  
								  
								  <div class="text-center mt-2">
								  	<img style="width:250px; height:250px;border-radius:50%" class="img-fluid" th:src="@{'/img/'+${user.imageUrl}}" alt="Profile photo" />
								  </div>
								  
								<div class="custom-file mt-2">
										<p class="text-secondary">Choose the new profile photo:</p>
										<input type="file" name="newImage"/>
								</div>
								  
								  <div class="container mt-3 d-flex justify-content-center align-items-center ">
								  	<button type="submit" class="btn btn-success btn-sm mr-2">Save</button>
								  	<a href="#" th:href="@{/user/settings}" class="btn btn-warning btn-sm">Change Password</a>
								  </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			$(document).ready(() => {
				$(".sidebar-item").removeClass("active");
				$("#profile-link").addClass("active");
			});
		</script>
		
	</section>
</body>
</html>
						
						