<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/user_base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title >Update profile page</title>
</head>
<body>
	<section >
		<!-- Message box -->
		<div th:if="${session.message}" class="alert" th:classappend="${session.message.type}" role="alert">
			<p th:text="${session.message.content}"></p>
		</div>
		
		<!-- Removing the message after showing. -->
		<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
		
		<div style="padding-left:20px;padding-right:20px;" class="card">
			<div class="text-center">
				<h1>Update Profile</h1>
			</div>
			<div class="card-body">
				<form novalidate="novalidate" th:action="@{/user/process-update-profile}" enctype="multipart/form-data" method="POST" th:object="${user}">	
					  <div class="form-group">
					    <label for="name_field">Your name</label>
					    <input name="name" th:value="${user.name}" th:classappend="${#fields.hasErrors('name')? 'is-invalid':''}" type="text" class="form-control" id="name_field" placeholder="Enter your name here" required>
					  
					  	<div class="invalid-feedback" th:each="e: ${#fields.errors('name')}" th:text="${e}">
					  </div>
					  </div>
		
					  
					  <div class="form-group">
					    <label for="email_field">Email</label>
					    <input name="email" th:value="${user.email}" th:classappend="${#fields.hasErrors('email')? 'is-invalid':''}"  type="email" class="form-control" id="email_field" placeholder="Enter email address" required>
					  
					  	<div class="invalid-feedback" th:each="e: ${#fields.errors('email')}" th:text="${e}">
					  </div>
					  </div>
					  
					  
					  <div class="form-group">
					    <label for="password_field">Password</label>
					    <input name="password" type="password" class="form-control" th:classappend="${#fields.hasErrors('password')? 'is-invalid':''}"  id="password_field" placeholder="Password" required>
					  
					  	 <div class="invalid-feedback" th:each="e: ${#fields.errors('password')}" th:text="${e}">
					  </div>
					  </div>
					  
					  
					  <div class="form-group">
					  	<textarea name="about" th:utext="${user.about}" th:classappend="${#fields.hasErrors('about')? 'is-invalid':''}"  placeholder="Enter about yourself" class="form-control" rows="3"></textarea>
					  
					  	<div class="invalid-feedback" th:each="e: ${#fields.errors('about')}" th:text="${e}">
					  </div>
					  </div>
					  
					  
					  <div class="text-center mt-2">
					  	<img style="border-radius:50%" class="img-fluid" th:src="@{'/img/'+${user.imageUrl}}" alt="Profile photo" />
					  </div>
					  
					<div class="custom-file mt-2">
							<p class="text-secondary">Choose the new profile photo:</p>
							<input type="file" name="newImage"/>
					</div>
					  
					  <div class="container mt-3">
					  	<button type="submit" class="btn btn-success btn-block">Save</button>
					  	<button type="reset" class="btn btn-danger btn-block">Reset</button>
					  </div>
				</form>
			</div>
		</div>
	</section>
</body>
</html>
						
						