<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title >This is about page.</title>
</head>
<body>
	<section class="d-flex align-items-center justify-content-center">
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div  style="padding:20px; margin-top:100px;" class="card about-card">
						<div class="card-body text-center">
								<h1>About</h1>
								<p class="mt-2">Smart Contact Manager is a web-based application built with Spring Boot and MySQL that helps users efficiently manage their contacts. It allows users to add, update, delete, and organize contacts with a user-friendly interface. With secure authentication and role-based access, users can store personal or professional contacts safely. The project follows MVC architecture and integrates Spring Security for authentication and authorization.</p>
								
								<div class="mt-2 d-flex justify-content-center align-items-center">
								    <a target="_blank" th:href="|https://github.com/AnuprashGautam|">
								        <img class="mr-3" height="30px" th:src="@{/img/icons/github.png}" alt="GitHub" />
								    </a>
								    <a target="_blank" th:href="|https://www.linkedin.com/in/anuprashgautam/|">
								        <img class="mr-3" height="30px" th:src="@{/img/icons/linkedin.png}" alt="LinkedIn" />
								    </a>
								    <a th:href="|mailto:itsanuprashgautam@gmail.com|">
								        <img class="mr-3" height="30px" th:src="@{/img/icons/mail.png}" alt="Email" />
								    </a>
								</div>
							</div>					
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>