<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>This is sign up page.</title>

</head>
<body>
	<section>
		<div class="text-center">
			<h1 class="font-weight-bold">Sign up page</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit iste aliquid ipsum cum beatae reiciendis animi recusandae aspernatur soluta ipsa.</p>

			<button class="btn bg-danger btn-lg text-white btn-outline-light">Get Start</button>
		</div>
	</section>
</body>
</html>